[Unit]
Description=trojan client daemon
After=network.target network-online.target nss-lookup.target
AssertPathExists=%h/.config/trojan/configs/%I

[Service]
Type=simple
ExecStart=/opt/trojan/trojan -c %h/.config/trojan/configs/%I
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
